:root {
    /* color */
    --nav-color: whitesmoke;
    --color-hover-box: rgba(228, 227, 227, .5);
    --color-hover-text: black;
    --color-link-header: rgb(53, 53, 53);
    /* texto */
    --font-small:           .5em;
    --font-normal:          1em;
    --font-title-normal:    1.5em;
    --font-title:           2em;
    --font-big:             3em;
    /* Z - index */
    --z-index-back: -10;
    --z-index-nav: 100;
}

body {
    margin: 0;
    margin-top: 5em;
    font-family: 'Open Sans', sans-serif;
    /* ocultamos el scroll horizontal */
    overflow-x: hidden;
}
/* FONT SIZING */
.title {
    font-size: var(--font-big);
}
.title-footer {
    font-size: var(--font-title-normal);
}

/* HEADER -----------------------------------------------------------------*/
.header-main {
    position: fixed;
    top: 0;
    z-index: var(--z-index-nav);
    width: 100%;
    height: 4rem;
    background-color: whitesmoke;
    box-shadow: 1px 1px 5px gray;
}

.header-nav {
    display: flex;
    box-sizing: border-box;
}

.header-menu {
    position: relative;
    margin: auto;
}

.header-main img {
    width: 4em;
    margin: .5em;
}

.header-main li {
    list-style: none;
    display: inline-block;
    /* margin: .5em; */
    
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;

    width: 5em;
    text-align: center;
    border-radius: 5px;
}

.header-main li::after {
    display: block;
    content: '';
    background: grey;
    width: 0;
    height: 0;
    transition: all .2s;
}
.header-main li:hover::after {
    width: 100%;
    height: 2px;
}

.header-main li:hover {
    background-color: var(--color-hover-box);
}

.header-main a {
    text-decoration: none;
    color: var(--color-link-header);
}

.header-main a:hover {
    color: var(--color-hover-text);

}

.search-img {
    height: 1.2em;
    opacity: .8;
    position: relative;
    top: .8em;
}

.header-main .search input {
    position: absolute;
    right: 4.5em;
    top: 1.3em;
    width: 2em;
    height: 1.8em;
    border-radius: 5px;
    border: solid 1px rgba(128, 128, 128, .8);
    transition: width .5s;
    padding: .2em;
    transition-timing-function: cubic-bezier(1, .11, 0, 2.25);
}

.header-main:hover input {
    width: 15em;
}

/* PARALAX - DESCRIPTION ------------------------------------------------------*/

.paralax {
    position: absolute;
    top: 3em;
    z-index: var(--z-index-back);
    background-image: url(img/girasoles-hd.jpg);
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 40em;
    color: whitesmoke;
    overflow: hidden;
    /* borrar las siguiente linea si se presenta algun problema xd */
    transform: scale(1.15);
    
}

.paralax p {
    position: relative;
    top: 10%;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    line-height: 1.8;
    padding: 0 .5em;
    /* escala equivalente a la del paralax */
    transform: scale(.85);
}

.back-shadow {
    margin-top: -2em;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
}

.paralax .p-description {
    padding: 0 2em;
}


/* GALERIA DE FOTOS CONTENT-----------------------------------------------------------*/

.content {
    position: relative;
    top: 38rem;
    padding: 6em 2em;
    background-color: #F4F4F4;
}

.card {
    position: relative;
    display: inline-block;
    margin: 2em 2em;
    height: 400px;
    width: 250px;
    transition: all 1s;
    /* transition-timing-function: cubic-bezier(1, .11, 0, 2.25); */
    /* linea sin importancia xd */
    transform: scale(.95);
}

.card:hover {
    transform: translate(0, -5px);
    
    box-shadow: 3px 3px 8px gray;
}

.card-img {
    border-radius: 5px;
    width: 250px;
    height: 400px;
    background-size: cover;
}

.card-title {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    transition: all .5s;
}

.content .card .card-title p {
    font-size: var(--font-title-normal);
    margin-top: 120%;
    display: none;
    transition: all 1.5s;
}

.card-title:hover {
    background-color: rgba(0,0,0,.5);
    /* background-image: linear-gradient(to top, black, rgba(0,0,0,.1)) ; */
}
.content .card:hover .card-title p {
    display: block;
}

/* FOOTER ---------------------------------------------------------------------------- */
footer {
    position: relative;
    top: 38rem;
    box-sizing: border-box;;
    margin-top: -1.4em;
    padding: 10% 2em;
    width: 100%;
    height: 60vh;
    /* background-image: linear-gradient(#F4F4F4 1%, #9c9c9c); */
    /* background: #9c9c9c; */
    background-color: #222;
}
footer .logo {
    position: absolute;
    left: 5%;
    width: 200px;
    height: 140px;
    background-image: url('img/ccode-logo-BLANCO.png');
    background-size: cover;
    background-position: center;
}

footer .contact-me {
    position: absolute;
    left: 40%;
    margin-top: -2em;
    box-sizing: border-box;
    padding-left: 1em ;
    border-left: solid 1px white;

    color: whitesmoke;
}

footer .follow-me {
    box-sizing: border-box;
    position: absolute;
    left: 75%;
    margin-top: -3em;
    padding-left: 1em ;
    border-left: solid 1px white;

    color: whitesmoke;
}

footer a {
    padding: .5em;
}

/* VENTANA DE CHAT ------------------------------------------------------------------------- */

.chat-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    /* top: 360px;
    left: 270px; */
    background-color: whitesmoke;
    width: 3em;
    height: 3em;
    border-radius: 25px;
    text-align: center;
    box-shadow: 3px 3px 1px rgba(128, 128, 128, .5);
    transition: transform .2s;
}

.chat-button:hover {
    /* transform: scale(1.2); */
}

.chat-window {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 2px rgba(128, 128, 128, .5);
    /* width: 240px; */
    width: 0;
    height: 0;
    padding: 1em;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    transition: all .3s;
    opacity: 0;
    /* transition-timing-function: cubic-bezier(1, .11, 0, 2.25); */
    display: block;
}
.chat-window input, textarea {
    border: solid 1px rgba(128, 128, 128, .5);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em ;
    width: 98%;
}

.chat-window input {
    width: 98%;
    height:2em;
}

.chat-window button {
    width: 98%;
    height:2.5em;
    margin-top: .5em;
    font-size: .9em;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    border: solid 2px rgba(128, 128, 128, .5);
    background: none;
}

.chat-window button:hover {
    border: solid 2px rgba(84, 163, 73, 0.5);
    background: white;
}

.chat-button:hover .chat-window{
    opacity: 1;
    width: 240px;
    height: 400px;/* 
    display: block; */
    /* transform: scale(.8); */
}

.chat-button img {
    transform: scale(.95);
    width: 100%;
}